body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #1e213d;
}

section.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: darkred;
    color: white;
}

section.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

.dx {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    height: 100%;
    margin-right: 10px;
}

a#profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: -20px;
    width: 100%;
}

.dx .profileImg {
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    width: 32.5%;
    background-color: #1e213d;
}

div.sx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

img#imageWeb {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 15%;
}

h1#logo {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 30px;
    color: white;
}

@media(max-width: 500px) { 
    img#imageWeb {
        width: 30.9;
        height: 23;
    }

    h1#logo {
        margin: 5px 0px;
        font-size: 15px;
    }
}

footer {
    width: 100%;
    height: 50px;
    background-color: darkred;
    position: absolute;
}

#informazioni {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

#informazioni a {
    font-size: 20px;
    padding: 10px;
    color: white;
}

@media(max-width: 500px) {
    footer {
        height: 35px;
    }

    #informazioni a {
        padding: 3px;
        font-size: 10px;
    }
}


.processoMod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100%-10px);
    margin: 5px;
    border-radius: 15px;
}

form[name='processoMod'] {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.password, .passwordNuova, .confermaPasswordNuova{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

input[type='text'], input[type='password'] {
    margin-bottom: 12.5px;
    width: 75%;
    height: 75px;
    border-radius: 15px;
    padding: 10px;
}

input[type='submit'] {
    width: 75%;
    height: 75px;
    border-radius: 15px;
    cursor: pointer;
    background-color: darkred;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 25px;
}

.error_printf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    margin-bottom: 15px;
}

.error_printf span {
    margin-left: 10px;
    width: 100%;
    opacity: 1;
    font-size: 15px;
    margin-top: 1.5px;
    color: white;
}

.error_printf.a {
    margin-left: 10px;
    opacity: 1;
    font-size: 15px;
    margin-top: 1.5px;
    color: white;
}

.error_printf img{
    opacity: 0;
    width: 20px;
    margin-right: 0px;
}

.error_printf img {
    opacity: 1;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 75px;
    color: whitesmoke;
}

@media (max-width:500px) {
    h1 {
        font-size: 35px;
    }
}